# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will download a prebuilt Ruby version, install dependencies and run tests with Rake
# For more information see: https://github.com/marketplace/actions/setup-ruby-jruby-and-truffleruby

name: HelmUpgradeLogs

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

permissions:
  contents: read

jobs:
  demo_install_run_gem:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby-version: ['3.0']
    steps:
      - uses: actions/checkout@v3
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby-version }}
      - name: Start KIND cluster
        run: bash -f bin/start_kind.sh
      - name: Waiting for KIND cluster to get ready
        run: sleep 70
      - name: Install gem
        run: gem install helm_upgrade_logs
      - name: Add bitnami repo
        run: helm repo add bitnami https://charts.bitnami.com/bitnami
      - name: Helm install debugging logs
        run: helm_upgrade_logs --install nginx bitnami/nginx --wait --debug --set service.type=ClusterIP

  test_exe:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby-version: ['3.0']

    steps:
    - uses: actions/checkout@v3
    - name: Start KIND cluster
      run: bash -f bin/start_kind.sh
#    - name: Waiting for KIND cluster to get ready
#      run: sleep 70
    - name: Add bitnami repo
      run: helm repo add bitnami https://charts.bitnami.com/bitnami
    - name: Install through gem exe
      run: ./exe/helm_upgrade_logs --install nginx bitnami/nginx --wait --debug --set service.type=ClusterIP --set replicaCount=2
