# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will download a prebuilt Ruby version, install dependencies and run tests with Rake
# For more information see: https://github.com/marketplace/actions/setup-ruby-jruby-and-truffleruby

name: HelmUpgradeLogs

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

permissions:
  contents: read

jobs:
  test:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby-version: ['3.0']

    steps:
    - uses: actions/checkout@v3
#     - name: Set up Ruby
#     # To automatically get bug fixes and new Ruby versions for ruby/setup-ruby,
#     # change this to (see https://github.com/ruby/setup-ruby#versioning):
#     # uses: ruby/setup-ruby@v1
#       uses: ruby/setup-ruby@473e4d8fe5dd94ee328fdfca9f8c9c7afc9dae5e
#       with:
#         ruby-version: ${{ matrix.ruby-version }}
#         bundler-cache: true # runs 'bundle install' and caches installed gems automatically
    - name: Test
      run: bash -f bin/start_kind.sh
    - name: Check pods
      run: kubectl get pods --all-namespaces
    - name: Check Events
      run: kubectl get events --all-namespaces
    - name: Add bitnami repo
      run: helm repo add bitnami https://charts.bitnami.com/bitnami
    - name: helm upgrade install
      run: helm upgrade --install nginx bitnami/nginx --wait
    - name: Check Events
      run: kubectl get events --all-namespaces
#    - name: Run from local
#      run: bash exe/helm_upgrade_logs
#    - name: Helm upgrade with logs
#      run: curl -s https://raw.githubusercontent.com/SamuelGarrattIqa/helm_upgrade_logs/main/exe/helm_upgrade_logs | bash -s -- --install nginx bitnami/nginx --wait

#     - name: Run tests
#       run: bundle exec rake
